.slider{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin:0;
  padding:0;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: black;
  i{
    font-size: 2vw;
    color: #05326f
  }
  display: flex;
  flex-direction: row;

}

.slide{
  min-width: 100%;
  height: 80%;
  transition: .5s;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}


#left{
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  width:10%;
  height:100%;
  background: none;
  border: none;
  outline: none;
  transition: .5s;
  &:hover{
    background: rgba(5, 50, 111, 0.1);
    cursor: pointer;
    i{
      color: #fff6f7
    }
  }
}

#right{
  position:absolute;
  top:50%;
  right:0;
  transform:translateY(-50%);
  width:10%;
  height:100%;
  background: none;
  border: none;
  outline: none;
  transition: .5s;
  &:hover{
    background: rgba(5, 50, 111, 0.1);
    cursor: pointer;
    i{
      color: #fff6f7
    }
  }
}
